{% extends '@MainBundle/admin/layouts/base.html.twig' %}

{% block title %}{{ 'zentlix_menu.menu.create.process' | trans }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">{{ 'zentlix_main.control_panel' | trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'zentlix_menu.menu.create.process' | trans }}</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="card w-100">
            <div class="card-header">
                {{ 'zentlix_menu.menu.create.process' | trans }}
            </div>
            {{ form_start(form) }}
            <div class="card-body">
                <div class="alert alert-info">{{ 'zentlix_menu.info' | trans }}</div>
                {{ form_widget(form) }}
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-dot-circle-o"></i> {{ 'zentlix_main.create' | trans }}
                </button>
                <a href="{{ path('admin.menu.list') }}" class="btn btn-sm btn-secondary" type="button">{{ 'zentlix_main.cancel' | trans }}</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}