{% extends '@MainBundle/admin/layouts/base.html.twig' %}

{% block title %}{{ 'zentlix_menu.menu.menu' | trans }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">{{ 'zentlix_main.control_panel' | trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'zentlix_menu.menu.menu' | trans }}</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="card w-100">
            <div class="card-header">
                {{ 'zentlix_menu.menu.menu' | trans }}
                <a href="{{ path('admin.menu.create') }}" class="btn btn-primary btn-sm float-right">
                    {{ 'zentlix_menu.menu.create.action' | trans }}
                </a>
            </div>
            <div class="card-body">
                <div id="menu-datatable">{{ 'zentlix_main.loading_dots' | trans }}</div>
                <script>
                    $(document).ready(function () {
                        $('#menu-datatable').initDataTables({{ datatable_settings(datatable) }});
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}